<h2>ログイン</h2>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <p class="session_new_area">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email %>
    <%= f.label :パスワード %>
    <%= f.password_field :password %>
    <%= f.submit "ログイン" %>
  </p>
<% end %>